.root{
-fx-background-color: black;
-fx-border-color: black;
-fx-text-fill: yellow;
}

.h-box{
-fx-background-color: black;
-fx-border-color: green;
-fx-border-width: 0;
-fx-font-size: 14;
-fx-text-fill: yellow;
}

.v-box{
-fx-background-color: black;
-fx-border-color: green;
-fx-border-width: 0;
-fx-font-size: 14;
-fx-text-fill: yellow;
}

.grid-pane{
-fx-background-color: black;
-fx-border-color: green;
-fx-border-width: 0;
-fx-font-size: 14;
-fx-text-fill: yellow;
}

.scroll-pane{
-fx-background: black;
-fx-background-color: black;
-fx-border-color: green;
-fx-border-width: 0;
-fx-font-size: 14;
-fx-text-fill: yellow;
}

.split-pane{
-fx-background-color: black;
-fx-border-color: green;
-fx-border-width: 0;
-fx-font-size: 14;
-fx-text-fill: yellow;
}

.tree-view{
-fx-background-color: black;
-fx-border-color: green;
-fx-border-width: 0;
-fx-font-size: 14;
-fx-text-fill: yellow;
}

.tree-cell:selected {
    -fx-font-weight: bold;
    -fx-background-color: blue;
}

.check-box {
    /* default properties */
    -fx-border-color: yellow;
    -fx-border-width: 2 2 3 2;
    selected-box-color: black;
    box-color: black;
    mark-color: yellow;
}
.check-box:selected > .box {
    /* background color for selected checkbox */
    -fx-background-color: selected-box-color;
}
.check-box > .box {
    /* background color of unselected checkbox */
    -fx-background-color: box-color;
}
.check-box:selected > .box > .mark,
.check-box:indeterminate  > .box > .mark {
    /* modify mark color */
    -fx-background-color: mark-color;
}

.context-menu{
-fx-background-color: black;
-fx-border-color: green;
-fx-border-width: 0;
-fx-font-size: 14;
-fx-text-fill: white;
}

.menu-item{
-fx-background-color: black;
-fx-border-color: green;
-fx-border-width: 0;
-fx-font-size: 14;
-fx-text-fill: white;
}

.menu-item .label{
-fx-background-color: black;
-fx-border-color: green;
-fx-border-width: 0;
-fx-font-size: 14;
-fx-text-fill: white;
}

.text-field{
-fx-background-color: green;
-fx-border-color: green;
-fx-border-width: 0;
-fx-font-size: 14;
-fx-text-fill: white;
-fx-padding: 0px;
}

.tree-cell{
-fx-background-color: black;
-fx-border-color: green;
-fx-border-width: 0;
-fx-font-size: 14;
-fx-text-fill: yellow;
}

.button{
-fx-border-width: 2;
-fx-background-color: green;
-fx-border-color: green;
-fx-font-size: 10;
-fx-text-fill: yellow;
-fx-border-radius: 3 3 3 3; /* top-left, top-right, bottom-right, and bottom-left corners */
}

.button:focused{
-fx-border-width: 2;
-fx-background-color: green;
-fx-border-color: yellow;
-fx-font-size: 10;
-fx-text-fill: yellow;
-fx-border-radius: 3 3 3 3; /* top-left, top-right, bottom-right, and bottom-left corners */
}

.button:pressed{
-fx-border-width: 2;
-fx-background-color: red;
-fx-border-color: red;
-fx-font-size: 10;
-fx-text-fill: yellow;
-fx-border-radius: 3 3 3 3; /* top-left, top-right, bottom-right, and bottom-left corners */
}

.label{
-fx-background-color: black;
-fx-border-color: green;
-fx-border-width: 0;
-fx-font-size: 14;
-fx-text-fill: yellow;
}

.dialog-pane {
-fx-border-color: green;
-fx-font-size: 18;
}

.header-panel {
-fx-background-color: black;
-fx-border-color: green;
-fx-border-width: 1;
-fx-font-size: 14;
-fx-text-fill: yellow;
}

.dialog-pane:header .header-panel .label{
-fx-font-size: 16;
-fx-font-weight: bold;
}

#ImportantText{
-fx-background-color: black;
-fx-border-color: green;
-fx-border-width: 0;
-fx-font-size: 16;
-fx-text-fill: white;
}

#BackColoredCell{
-fx-background-color: midnightblue;
-fx-border-color: white;
-fx-text-fill: white;
-fx-border-width: 1;
}

#LayColoredCell{
-fx-background-color: firebrick;
-fx-border-color: white;
-fx-text-fill: white;
-fx-border-width: 1;
}

#NotColoredPriceSizeCell{
-fx-border-color: white;
-fx-text-fill: white;
-fx-border-width: 1;
}

.scroll-bar:horizontal, .scroll-bar:vertical{
    -fx-background-color: black;
    -fx-border-color: teal;
}

.corner{
    -fx-background-color: black;
    -fx-border-color: teal;
}

.increment-button, .decrement-button {
    -fx-background-color: black;
	-fx-border-color: green;
}

.scroll-bar:horizontal .track, .scroll-bar:vertical .track{
     -fx-background-color: green;
	 -fx-border-color: black;
	 -fx-background-radius: 0em;
}

.scroll-bar:horizontal .thumb, .scroll-bar:vertical .thumb {
    -fx-background-color: black;
	-fx-background-insets: 0, 0, 0;
	-fx-background-radius: 0em;
}

.scroll-bar:horizontal:hover .track, .scroll-bar:horizontal:pressed .track, .scroll-bar:vertical:hover .track, .scroll-bar:vertical:pressed .track{
     -fx-background-color: green;
	 -fx-background-radius: 0em;
}

.scroll-bar .thumb:hover, .scroll-bar .thumb:pressed{
    -fx-background-color: #181818;
}

.increment-button:hover, .decrement-button:hover {
    -fx-background-color: green;
	-fx-border-color: green;
}

.split-pane:horizontal > .split-pane-divider {
   -fx-background-color: green;
}

.split-pane:vertical > .split-pane-divider {
   -fx-background-color: green;
}
