.root{
-fx-background-color: black;
-fx-border-color: black;
-fx-text-fill: yellow;
}

.h-box{
-fx-background-color: black;
-fx-border-color: green;
-fx-border-width: 0;
-fx-font-size: 14;
-fx-text-fill: yellow;
}

.v-box{
-fx-background-color: black;
-fx-border-color: green;
-fx-border-width: 0;
-fx-font-size: 14;
-fx-text-fill: yellow;
}

.grid-pane{
-fx-background-color: black;
-fx-border-color: green;
-fx-border-width: 0;
-fx-font-size: 14;
-fx-text-fill: yellow;
}

.split-pane{
-fx-background-color: black;
-fx-border-color: green;
-fx-border-width: 0;
-fx-font-size: 14;
-fx-text-fill: yellow;
}

.context-menu{
-fx-background-color: black;
-fx-border-color: green;
-fx-border-width: 0;
-fx-font-size: 14;
-fx-text-fill: white;
}

.menu-item{
-fx-background-color: black;
-fx-border-color: green;
-fx-border-width: 0;
-fx-font-size: 14;
-fx-text-fill: white;
}

.menu-item .label{
-fx-background-color: black;
-fx-border-color: green;
-fx-border-width: 0;
-fx-font-size: 14;
-fx-text-fill: white;
}

.text-field{
-fx-background-color: black;
-fx-border-color: green;
-fx-border-width: 0;
-fx-font-size: 14;
-fx-text-fill: white;
}

.tree-cell{
-fx-background-color: black;
-fx-border-color: green;
-fx-border-width: 0;
-fx-font-size: 14;
-fx-text-fill: yellow;
}

.button{
-fx-border-width: 0;
-fx-background-color: green;
-fx-border-color: red;
-fx-font-size: 10;
-fx-text-fill: yellow;
}

.button:pressed{
-fx-border-width: 0;
-fx-background-color: red;
-fx-border-color: red;
-fx-font-size: 10;
-fx-text-fill: yellow;
}

.label{
-fx-background-color: black;
-fx-border-color: green;
-fx-border-width: 0;
-fx-font-size: 14;
-fx-text-fill: yellow;
}

#ImportantText{
-fx-background-color: black;
-fx-border-color: green;
-fx-border-width: 0;
-fx-font-size: 16;
-fx-text-fill: white;
}
